
        
    <div style="background-color: #a0dd89;">
    
        <div class="main">
            <h2 style="padding-top:2%;padding-right:42%;">Sign-up</h2>
            <section class="signup">
                <div class="container">
                    <div class="signup-content">
                        <form method="POST" id="signup-form" class="signup-form">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="first_name">Nome</label>
                                    <input type="text" class="form-input" name="first_name" id="first_name" />
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Sobrenome</label>
                                    <input type="text" class="form-input" name="last_name" id="last_name" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group form-icon">
                                    <label for="birth_date">Data de Nascimento</label>
                                    <input type="text" class="form-input" name="birth_date" id="birth_date" placeholder="MM-DD-YYYY" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone_number">Telefone</label>
                                <input type="number" class="form-input" name="phone_number" id="phone_number" />
                            </div>
                <div class="form-row">
                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-input" name="email" id="email"/>
                                    </div>
                    <div class="form-group">
                           <label for="phone_number">CEP</label>
                                       <input type="number" class="form-input" name="cep" id="cep" />
                                  </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="password">Senha</label>
                                    <input type="password" class="form-input" name="password" id="password"/>
                                </div>
                                <div class="form-group">
                                    <label for="re_password">Confirme a senha</label>
                                    <input type="password" class="form-input" name="re_password" id="re_password"/>
                                </div>
                            </div>
                     
                            <div class="form-group">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
    
        </div>
    </div>
         <!-- JS -->
        <script src="../../assets/vendor/jquery/jquery.min.js"></script>
        <script src="../../assets/vendor/jquery-ui/jquery-ui.min.js"></script>
        <script src="../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="../../assets/vendor/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="../../assets/js/main3.js"></script>
    