
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="./assets/img/avatar-01.PNG" alt=""></a>
                        </div>
                        <ul>
                            <li>Endereço: Avenida Brasil</li>
                            <li>Telefone: +55 31 188-888</li>
                            <li>Email: teste@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Links</h6>
                        <ul>
                            <li><a href="#">Sobre Nós</a></li>
                            <li><a href="#">Mercado</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Privacidade</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Quem somos nós?</a></li>
                            <li><a href="#">Outros Serviços</a></li>
                            <li><a href="#">Projetos</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Receba as Novidades e Promoções</h6>
                        <p>Insira seu endereço de Email e fique ligado nas ofertas.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Inscreva-se</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
    <!-- Footer Section End -->